* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(10, 10, 63, 0.753);
  color: white;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 2rem auto;
}
.display {
  background-color: rgba(10, 10, 43, 0.753);
  border: ridge 2px blue;
  text-align: right;
  padding: 3px 5px;
  border-radius: 7px;
  font-size: 2.3rem;
  overflow: scroll;
}

.keypads {
  background-color: rgba(10, 10, 43, 0.6);
  margin-top: 8px;
  border-radius: 3px;
  padding: 8px;
}

.upper-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.lower-keys {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.keypad {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px black groove;
  cursor: pointer;
}
